@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 2px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  background-color: #1e2022;
  -webkit-tap-highlight-color: transparent;
}
